<div class="page-header">
  <%= link_to new_post_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Post
  <% end %>
  <h1>Listing posts</h1>
</div>

      <%= @posts.each do |post| %>
        <div class="panel panel-default panel-body">
          <h2><%= link_to(post.title, post) %></h2>
          <%= simple_format(post.body) %>
          <p>( <%= post.comments.count %> comments )</p>
          <hr />
          <%= link_to 'Edit', edit_post_path(post) %>
          |
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
