<div class="page-header">
  <%= link_to posts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_post_path(@post), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @post.title %></h1>
  <p>Written <%= time_ago_in_words(@post.created_at) %> ago.
  <% if !@post.published_at %>
    <div class="label label-warning">Unpublished</div>
  <% end %>
</div>


  <%= markdown @post.body %>

  <hr />
  <h2>Comments / Snarks / etc</h2>
  <%= render @post.comments %>
  <%= render partial: 'posts/comment_form' %>
</dl>
